 // const [Allposts, setAllposts] = useState('')
  // const [loading, setloading] = useState(true)
  // try {
  //     const data = await fetch('http://localhost:5001/blog/api/v1/allpost');
  //     const res = await data.json()
  //     setAllposts(res)
  // } catch (error) {
    
  // }finally{
  //   setloading(false)
  // }

  

  {/* <h2 className='text-center mt-4'>AllPost</h2>

        <table className='table table-striped'>
          <thead>
            <tr>
              <td>S/N</td>
              <td>Title</td>
              <td>Category</td>
              <td>Date</td>
              <td>Action</td>
            </tr>
          </thead>
          <tbody>
            {
              loading ? <img src="/loader1.gif" className='w-25' alt="" /> :
              posts?.map(({title, category, date, status}, i)=>{
                return(
                  <tr>
                    <td>{i}</td>
                    <td>{title}</td>
                    <td>{category}</td>
                    <td>{date}</td>
                    <td>{status}</td>
                    
                  </tr>
                )
              })
            }
          </tbody>
        </table> */}